:root {
  --color-primary: #011627;
  --color-secondary: #8b8c8a;
  --color-danger: #e71d36;
  --color-warning: #ff9f1c;
  --color-info: #2ec4b6;
  --color-background: #182b3a;
  --color-white: #fdfffc;
  --color-black: #171817;
  --color-overlay: rgba(253, 255, 252, 0.8);
  --color-gold: #ffd700; 
  --color-green: #32cd32;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-background);
  color: var(--color-white);
}

nav.topnav {
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 100;
}

h1 {
  color: var(--color-gold); /* Using the gold color for h1 */
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 18px;
}

h2 {
  color: var(--color-gold); /* Using the gold color for h1 */
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 18px;
}

